@use "../base/variables" as *;

.card {
  background-color: $card-bg;
  border: 0.5rem solid $text-color;
  box-shadow: #e54378 0.5rem 0.5rem;
  padding: 2rem;
  max-width: 30rem;
  width: 100%;
  height: 100%;
  font-family: "Sour Gummy";
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-field {
  padding: 0.625rem;
  border: 5px solid $text-color;
  box-shadow: inset 5px 5px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  width: 100%;
}

.options-grid {
  display: grid;
  gap: 10px;
  width: 100%;
  margin: 1rem;
  .radio-label {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0.25rem;
    padding: 0.5rem;
    border: 5px solid $text-color;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: adjust($card-bg, 10%);
    }
  }
}

.results-card {
  text-align: left;
  padding: 1rem;
  height: 40rem;
  display: flex;
  align-items: flex-start;
  position: relative;

  .note-line {
    border-top: rgba(69, 202, 255, 0.673) 1px solid;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 100%;
    height: 0.75rem;
  }

  p {
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    width: 100%;
  }

  .bunny-left {
    width: 10rem;
    margin-right: 1rem;
    position: absolute;
    top: 0;
    right: 0;
  }

  .flower-right {
    width: 10rem;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  }

  @media screen and (max-width: 425px) {
    .bunny-left,
    .flower-right {
      display: none;
    }
  }

  #pink-bar {
    background-color: #e54378;
    height: 0.5rem;
    position: absolute;
    bottom: 10px;
    z-index: 0;
    left: 0;
  }
}

.landing-card {
  position: relative;
  .sparkle-top-left {
    width: 10rem;
    position: absolute;
    top: -60%;
    left: -20%;
  }
  .sparkle-bottom-right {
    width: 10rem;
    position: absolute;
    bottom: -40%;
    right: -20%;
    z-index: 0;
  }
}

.music-player {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: $card-bg;
  border: 0.5rem solid $text-color;
  box-shadow: #e54378 0.5rem 0.5rem;
  width: 100%;
  max-width: 20rem;
  margin: 2rem auto;

  h2 {
    font-size: 1.5rem;
    margin: 0;
    width: 100%;
    font-family: "sour gummy";
  }

  .scrolling-title {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    p {
      display: inline-block;
      padding-left: 100%;
      font-family: "Sour Gummy";
      animation: scroll 90s linear infinite;
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .play-btn {
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    background: none;
    color: inherit;
    font: inherit;
    outline: inherit;
    width: 30%;
    text-align: left;

    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  input[type="range"] {
    width: 70%;

    -webkit-appearance: none;
    appearance: none;
    height: 0.5rem;
    background: $text-color;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
    &:hover {
      opacity: 1;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 1rem;
      height: 1rem;
      background: $card-bg;
      cursor: pointer;
      border: 2px solid $text-color;
    }
    &::-moz-range-thumb {
      width: 1rem;
      height: 1rem;
      background: $card-bg;
      cursor: pointer;
      border: 2px solid $text-color;
    }
  }
}

.links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;

  p {
    font-family: "sour gummy";
    color: white;
  }
}

.animated-link {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;

  &.portfolio {
    color: #e91e63;

    &:hover {
      color: #d81b60;
    }
  }

  &.github {
    color: #1e88e5;

    &:hover {
      color: #1565c0;
    }
  }
}
