@use "../base/variables" as *;

.card {
  background-color: $card-bg;
  border: 0.5rem solid $text-color;
  box-shadow: #e54378 0.5rem 0.5rem;
  padding: 2rem;
  max-width: 30rem;
  width: 100%;
  height: 100%;
  font-family: "Sour Gummy";
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-field {
  padding: 0.625rem;
  border: 5px solid $text-color;
  box-shadow: inset 5px 5px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  width: 100%;
}

.options-grid {
  display: grid;
  gap: 10px;
  width: 100%;
  margin: 1rem;
  .radio-label {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0.25rem;
    padding: 0.5rem;
    border: 5px solid $text-color;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: adjust($card-bg, 10%);
    }
  }
}

.results-card {
  text-align: left;
  padding: 1rem;
  p {
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    width: 100%;
  }
}
