@use "../base/variables" as *;

.heading-bar {
  background-color: $app-bg;
  color: $text-color;
  font-family: "Sour Gummy";
  font-size: 0.75rem;
  padding: 0.25rem;
  width: 100%;
  max-width: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
  border: 0.5rem solid $text-color;
  box-shadow: #e54378 0.5rem 0.5rem;
  border-bottom: none;
}

.window-controls {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0 0.25rem;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    .minimize,
    .maximize,
    .close {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .minimize {
      background-color: white;
      border: 0.2rem solid black;
      align-items: flex-end;
    }

    .maximize {
      background-color: white;
      border: 0.2rem solid black;
    }

    .close {
      background-color: red;
      border: 0.2rem solid black;
      padding: 2px;
    }
  }

  .min-icon {
    border-bottom: 4px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 10px;
    width: 100%;
    margin: 2px;
  }

  .max-icon {
    background-color: black;
    margin: 2px 2px;
    width: 0.75rem;
    height: 0.75rem;
  }
}
