@use "./variables" as *;

body {
  background-color: #171715;
}

.app-container {
  color: $text-color;
  font-family: serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.button {
  width: fit-content;
  padding: 0.25rem 1.5rem;
  font-size: 16px;
  cursor: pointer;
  border: 5px solid;
  transition: 0.3s;

  &:hover {
    background-color: adjust($button-bg, 10%);
  }
}

.retry-button {
  background-color: $highlight-color;
  box-shadow: inset 2px 2px 0 rgba(255, 255, 255, 0.5);

  &:hover {
    background-color: adjust($highlight-color, 10%);
  }
}

.options-grid {
  display: grid;
  gap: 10px;
}

.answer-text {
  font-style: italic;
  font-size: 14px;
  color: $text-color;
  width: 100%;
}

#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  background-color: #fff9e8; /* Soft paper-like background */
}

.bunny-icon {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
}

.flower-icon {
  position: absolute;
  width: 40px;
  height: auto;
}

.flower-icon.left {
  top: 20%;
  left: 10%;
}

.flower-icon.right {
  top: 20%;
  right: 10%;
}

.loading-text {
  font-family: "Comic Sans MS", cursive;
  font-size: 1.5rem;
  color: #ff5f8f;
  text-shadow: 1px 1px 0px #000;
}
